* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efd4b9;
    color: #333;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.65px;
}

body,
#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}